<!--The content below is only a placeholder and can be replaced.-->



<div class="container">
<h1 style="text-align: center">
    <img src="/assets/Images/HK.png" width="100" height="100"/>
    Welcome to Hong Kong!
</h1>
</div>
<div class="container-fluid">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-4">
      <form  name="main" ngNativeValidate>
          <div class="form-group">
              <label for="inputStart">Startort</label>
              <input class="form-control" name="inputStart" placeholder="z.B. Darmstadt" type="text" [(ngModel)]="start" required/>
          </div>
          <div class="form-group">
              <label for="inputDestination">Zielort</label>
              <input class="form-control" name="inputDestination" placeholder="z.B. Frankfurt" type="text" [(ngModel)]="destination" required/>
          </div>
          <div class="form-group">
              <label for="inputDate">Datum</label>
              <input class="form-control" name="inputDate" type="datetime-local" [(ngModel)]="date_time" required/>
          </div>
          <div>
              <input class="btn btn-primary" type="submit" (click)="getValues()" value="Go!"/>
        </div>
      </form>
  </div>
    <div class="col-sm-4" *ngIf="visibility">
        <h2>
            Unsere Empfehlung
        </h2>
      <img id="imageRecommendation" [src]="imagePath" width="300" height="300"/>
    </div>
  </div>
    <div class="container" *ngIf="visibility">
        <div class="col-sm-offset-2">
            <form ngNativeValidate *ngIf="!visibilityFeedback">
                <h3 style="align-content: center">
                    Sende uns deine Entscheidung!
                </h3>
            <div class="form-group">
                <button id="buttonCar" type="button" class="btn btn-primary" (click)="sendFeedback('car')">Auto</button>
                <button id="buttonTrain" type="button" class="btn btn-primary" (click)="sendFeedback('transit')">Bahn</button>
                <button id="buttonBike" type="button" class="btn btn-primary" (click)="sendFeedback('bike')">Fahrrad</button>
            </div>
          </form>
          <h3 style="align-content: center" *ngIf="visibilityFeedback">
              Vielen Dank!
          </h3>
          </div>
        </div>


