<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <h1>
    Welcome to Hong Kong!
  </h1>
  <div class="col-sm-4">
      <form>
          <div class="form-group">
              <label for="inputStart">Startort</label>
              <input class="form-control" name="inputStart" placeholder="Darmstadt" type="text" [(ngModel)]="start" required/>
          </div>
          <div class="form-group">
              <label for="inputDestination">Zielort</label>
              <input class="form-control" name="inputDestination" placeholder="Frankfurt" type="text" [(ngModel)]="destination" required/>
          </div>
          <div class="form-group">
              <label for="inputDate">Datum</label>
              <input class="form-control" name="inputDate" placeholder="" type="datetime-local" [(ngModel)]="date_time" required/>
          </div>
          <div>
              <button class="btn btn-primary" type="submit" (click)="getValues()">Go!</button>
        </div>
        <div>
          <output name="outputPreferred" [(ngModel)]="results">Bahn oder Auto</output>
        </div>
      </form>

  </div>



